body {
    margin: 0px;
    padding: 0px;

    width: 99vw;
    height: 99vh;

    div {
        height: 150px;
        padding: 15px;
    }

    canvas {
        width: 100%;
        height: 100%;
    }
}